<div class="job-page">
    <div class="job-page-header" [class.shrink]="jobsSearched">
        <h1 class="title" > Job With Sponsorship </h1>
        <div class="search-query">
            <input type="text" placeholder="Search for jobs..." [(ngModel)]="searchQuery.keyword" class="search-bar" (keydown)="enterClick($event)"/>
            <ng-select [items]="countries" placeholder="Select Location" [(ngModel)]="searchQuery.location"></ng-select>
            <ng-select [items]="datePostedList"  placeholder="Select Date Posted" [(ngModel)]="searchQuery.datePosted"></ng-select>
            <button class="search-button" (click)="getJobs()"><i class="fa-solid fa-magnifying-glass"></i>Search</button>

        </div>
    </div>
    <div></div>
    <div class="content" *ngIf="jobsSearched">

        <div class="no-job-section"  *ngIf="!selectedJob">
            <img style="width: 25%;" src="assets/no_results.png"/>
            <h2><b>Sorry, we couldn't find any matching jobs...</b></h2>
        </div>

        <div class="job-list-section" *ngIf="selectedJob">
            <div class="job-list">
                <div *ngFor="let job of jobs" class="job-card" (click)="selectJob(job)"
                    [class.selected]="job === selectedJob">
                        <h3 class="job-title">{{job.title}}</h3>
                        <p class="job-company">{{job.company}}</p>
                        <p class="job-location">{{job.country}}</p>
                </div>
                <div class="pagination-container" *ngIf="jobs.length>0">
                    <ngb-pagination 
                    [collectionSize]="collectionSize" 
                    [(page)]="page" [pageSize]="pageSize" 
                    (pageChange)="getJobs();"
                    [boundaryLinks]="true" 
                    [ellipses]="true"  
                    [maxSize]="5"></ngb-pagination>
            </div>
           

            </div>
        </div>
        <div class="job-details-card" *ngIf="selectedJob">
            <div class="job-details">
                <div class="job-header">
                    <h2>{{selectedJob.title}}</h2>
                    <button class="apply-button" (click)="goToJobWebsite()">Apply Now</button>
                </div>
                <h3>{{selectedJob.company}}</h3>
                <p><strong>Location: </strong> {{selectedJob.location}}</p>
                <p><strong>Date Posted: </strong> {{selectedJob.date_posted }}</p>
                <div [innerHTML]="selectedJob.description"></div>
            </div>
        </div>
    </div>

</div>